@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyber-dark text-gray-200 antialiased overflow-x-hidden;
    font-family: 'Courier New', Courier, monospace;
  }
}

/* Cyberpunk Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0b10;
}

::-webkit-scrollbar-thumb {
  background: #242a42;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}
